<h1 class='text-center'><%= @answer %></h1>
<% if @crime_link %>
	<div class="crime_explanation"><a href="<%= @crime_link%>" target='_blank'>More info.</a></div>
	<%else%>
		<div class="crime_explanation">Sorry, this celeb was charged with a different crime.</div>
<%end%>
<%= link_to "New game!", new_game_crime_path(params[:game_id]), class: 'new_round' %>