@import "bootstrap-sprockets";
@import "bootstrap";

header {
	background-color: LightGray;
}

a.new_round {
	display:block;
	text-align:center;
	font-size: 24px;
}
.crime_explanation {
	display:block;
	text-align:center;
	font-size: 24px;
}

input[type=submit].start-game {
	position: absolute; /* or absolute */
  left: 40%;
	font-size: 24px;
}